.brand-top {
    background-color: gainsboro;
    color: grey;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .brand-top-title {
    font-size: 15px;
   }
   .brand-dropdown {
    font-size: 15px;
   }
   .brand-top-menu {
    font-size: 20px;
   }
   .brand-top-menu span {
    margin-right: 20px;
   }
   .brand-top-icons {
    font-size: 20px;
   }
   .brand-top-icons span {
    margin-right: 20px;
   }
   .banner-title {
       font-size: 40px;
       font-weight: bold;
       color:white;
       text-shadow: 2px 2px 2px black;
   }
   .men button {
       width: 200px;
       height: 45px;
       background-color: white;
   }
   .women button {
       width: 200px;
       height: 45px;
       background-color: white;
   }
   .kids button {
       width: 200px;
       height: 45px;
       background-color: white;
   }
   .brand-bar {
       background-color: white;
       color:black;
       padding: 25px;
       text-align: center;
       font-size: 15px;
       height: 100px;
       display: grid;
       grid-template-columns: 3fr 3fr 3fr 3fr;
   }
   .brand-bar span {
       margin-right: 15px;
       color: red;
   }
   .brand-line {
       display: flex;
   }
   .centerline {
       border-top: 1px solid lightgray;
       width: 100%;
       align-items: center;
       margin-left: 100px;
       margin-right: 90px;
   }
   .brand-collection {
       background-color: white;
       color: black;
       padding: 5px;
       text-align: center;
       justify-content: center;
       margin-top: 80px;
   }
   .brand-collection p {
       color: gray;
       font-size: 15px;
   }

   .card-discount {
       margin: 80px;
       padding: 25px;
       
   }
   .row {
       display: grid;
       grid-template-columns: 6fr 6fr;
       margin-bottom: 10px;
   }
   .row div {
       margin: 5px;
   }
   .card-discout img {
       transform: translateX(0px);
       transition:1s;
   }
   .card-discount img:hover {
       transform: translateX(10px);
       transition: 1s;
   }

   .brand-topseller {
       background-color: white;
       color: black;
       padding: 5px;
       text-align: center;
       justify-content: center;
       margin-top: 80px;
   }
   .brand-sellermenu {
       margin-top: 30px;
   }
   .brand-sellermenu span {
       margin-right: 20px;
   }
   .brand-sellermenu span:hover {
       color: orange;
   }
   .brand-sellermenu span.active {
       color: orange;
       text-decoration: underline;
   }
   .card-images {
       margin-top: 40px;;
       margin-right: 80px;
       margin-left: 80px;
       padding: 15px;
       justify-content: center;
       align-items: center;   
   }
   .row {
       display: grid;
       grid-template-columns: 3fr 3fr 3fr 3fr;
       margin-bottom: 10px;
   }
   .row div {
       margin: 5px;
   }
   .card-images img {
       transform: translateX(0px);
       transition:1s;
   }
   .card-images img:hover {
       transform: translateX(10px);
       transition: 1s;
   }
   .brand-discover {
       text-align: center;
       justify-content: center;
       text-decoration: underline;
       margin-left: 200px;
       margin-top: 70px;
   }
   .brand-discover:hover {
       text-decoration: unset;
   }
   
   .brand-buyers {
       background-color: white;
       color: black;
       padding: 5px;
       text-align: center;
       justify-content: center;
       margin-top: 80px;
   }
   .brand-collection p {
       color: gray;
    -size: 15px;
   }
   .brand-review {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 20px;
   }
   .brand-review img {
    float: left;
    height: 100px;
    width: 100px;
    padding: 7px;
    font-size: 10px;
    text-align: right;
   }
.brand-review p {
font-size: 15px;
text-align: justify;
margin-top:10px;
}
.brand-review i {
float: left;
font-size: 15px;
margin-bottom: 5px;
}
.brand-card {
height: 400px;
display: grid;
grid-template-columns: 4fr 4fr 4fr;
}

.brand-cardborder {
margin-top: 5px;
margin-right: 80px;
margin-left: 80px;
padding: 15px;
justify-content: center;
align-items: center;
}
.carousel {
position: relative;
}
.carousel__item {
height: 10px;
padding: 1em;
font-weight: bold;
font-size: 2em;
display: none;
}
.carousel__item--selected {
display: block;
}
.carousel__nav {
width: 100%;
padding: 20px 0;
position: absolute;
bottom: 0;
left: 0;
text-align: center;
}
.carousel__button {
width: 10px;
height: 10px;
display: inline-block;
background: gainsboro;
border-radius: 50%;
margin: 0 5px;
cursor: pointer;
}
.carousel__button--selected {
background: orange;
}
.brand-shopper {
background-color: white;
color: black;
padding: 1px;
text-align: center;
justify-content: center;
margin-top: 30px;
}
.brand-shopper p {
color: gray;
font-size: 15px;
}
.card-fourimages {
       margin-top: 40px;;
       margin-right: 80px;
       margin-left: 80px;
       padding: 15px;
       justify-content: center;
       align-items: center;   
   }
   .card-fourimages row {
       display: grid;
       grid-template-columns: 3fr 3fr 3fr 3fr;
       margin-bottom: 10px;
   }
   .card-fourimages row div {
       margin: 5px;
   }
   .card-fourimages img {
       transform: translateX(0px);
       transition:1s;
   }
   .card-fourimages img:hover {
       transform: translateX(10px);
       transition: 1s;
   }

